<nav *ngIf="show" class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#"><img class="logo-menu" src="../assets/AVATAR FLUXO NATAL.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">INTERNACIONAL </a>
        <a class="nav-item nav-link active" href="#">NACIONAL</a>
        <a class="nav-item nav-link active" href="#">NOTÍCIAS</a>
        <a class="nav-item nav-link active" href="#">LANÇAMENTOS</a>
        <a class="nav-item nav-link active" href="#"> CONTATO </a>
          <a class="nav-item nav-link active pl-3" style="padding-left: 23% !important;" [routerLink]="['/admin/postagens']"> POSTAGENS </a>
          <a class="nav-item nav-link active" [routerLink]="['/admin/categorias']"> CATEGORIAS  </a>
          <a class="nav-item nav-link active" [routerLink]="['/admin/usuarios']"> USUARIOS </a>
          <a class="nav-item nav-link active" [routerLink]="['/admin/login']"> LOGIN </a>


      </div>
    </div>
  </nav>
