<div class="container">
  <div class="principal row">
    <div class="row">
      <div class="principal-conteudo">
        <div class="textos-principal">
          <div class="categoria">
            <p>RAP NACIONAL</p>
          </div>
          <div class="titulo">
            <p>
              FLACKO lança clipe do single “FILHO PRÓDIGO” com participação do
              Borges; confira
            </p>
          </div>
        </div>
      </div>
      <div class="principal-secundario">
        <div  class="textos-secundario">
          <div class="categoria">
            <p>RAP NACIONAL</p>
          </div>
          <div style="width: 270px;" class="titulo-secundario">
            <p>
              FLACKO lança clipe do single “FILHO PRÓDIGO” com participação do
              Borges; confira
            </p>
          </div>
        </div>
      </div>
      <div class="principal-secundario">
        <div class="textos-secundario">
          <div class="categoria">
            <p>RAP NACIONAL</p>
          </div>
          <div style="width: 270px;" class="titulo-secundario">
            <p>
              FLACKO lança clipe do single “FILHO PRÓDIGO” com participação do
              Borges; confira
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-latest></app-latest>
