<!--<carousel class="col" style="display: inline-block;z-index: 1 !important;" [width]='640' [cellWidth]='640' [height]="420" *ngIf="destaquesCarousel.length > 1">
  <div style="width: 270px;" *ngFor="let destaque of destaquesCarousel; let i = index" class="carousel-cell">
    <article
    class="featured__item"
    [ngStyle]="{'background-image':'url(' + destaque.featuredImgUrl + ')'}"
    role="article"
  >
    <div class="featured__item__description">
      <a class="title-cat" href="">{{destaque.category}}</a>
      <h2 class="featured__item__title title">
        <a
          class="featured__item__link"
          href=""
          [routerLink]="['/publicacao/'+destaque.idTitle]"
          >{{destaque.title}}</a
        >
      </h2>
    </div>
  </article>
  </div>
</carousel> -->

<section style="max-width: 1120px;max-heigth:480px !important; margin: auto;" class="featured max">
  <article *ngFor="let destaque of destaques; let i = index"
    class="featured__item"
    [ngStyle]="{'background-image':'url(' + destaque.featuredImgUrl + ')'}"
    role="article"
  >
    <div class="featured__item__description">
      <a class="title-cat" href="">{{destaque.category}}</a>
      <h2 class="featured__item__title title">
        <a
          class="featured__item__link"
          href=""
          [routerLink]="['/publicacao/'+destaque.idTitle]"
          >{{destaque.title}}</a
        >
      </h2>
    </div>
  </article>
</section>

<div *ngIf="noticias">
  <app-latest [show]="true"
    ><app-posts
      [p]="page + 1"
      (pageSaida)="callNumber($event)"
      [num]="num"
      [noticias]="noticias"
    ></app-posts
  ></app-latest>
</div>

