<div class="container">
  <div class="principal row">
    <div class="row">
      <div class="principal-conteudo" [ngStyle]="{'background-image':'url(' + destaques[0].image + ')'}">
        <div class="textos-principal">
          <div class="categoria">
            <p>{{destaques[0].tags[1]}}</p>
          </div>
          <div class="titulo">
            <p>
              {{destaques[0].text}}
            </p>
          </div>
        </div>
      </div>
      <div class="principal-secundario" [ngStyle]="{'background-image':'url(' + destaques[4].image + ')'}">
        <div  class="textos-secundario">
          <div class="categoria">
            <p>{{destaques[4].tags[1]}}</p>
          </div>
          <div style="width: 270px;" class="titulo-secundario">
            <p>
              {{destaques[4].text}}
            </p>
          </div>
        </div>
      </div>
      <div class="principal-secundario" [ngStyle]="{'background-image':'url(' + destaques[2].image + ')'}">
        <div class="textos-secundario">
          <div class="categoria">
            <p>{{destaques[2].tags[1]}}</p>
          </div>
          <div style="width: 270px;" class="titulo-secundario">
            <p >
              {{destaques[2].text}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-latest></app-latest>
