<app-latest>
  <div class=" mt-4">
    <p>
      <span style="font-size: 20px"
        ><span
          >A
          <b
            ><span routerLink="/" style="color: #0033ff">Segue o Fluxo</span>
          </b>
          &eacute; uma marca totalmente independente que foi criada em
          <b>2012</b>, com a inten&ccedil;&atilde;o de promover o FUNK e
          enaltecer a cultura por todo o Brasil. Temos o intuito de aproximar
          mais ainda a comunidade que nos acompanha com os artistas que eles
          mais gostam, &nbsp;atrav&eacute;s das novidades e curiosidades que
          acontecem no dia a dia. Hoje contamos com uma equipe muito bem
          preparada, trabalhamos com seriedade e transparencia buscando sempre a
          veracidade das informa&ccedil;&otilde;es trazidas aqui no portal.
          Somos a primeira p&aacute;gina a trazer esse segmento totalmente
          voltado a massa Funkeira, e esperamos poder contar com voc&ecirc;s
          para continuar trilhando essa jornada.</span
        ></span
      >
    </p>

    <p>
      <b
        ><span style="font-size: 20px"
          ><span
            ><b>Respons&aacute;veis:</b><br />
            Admin1 - Vulgo NH e BL | Edit/Post - Rafa &nbsp;| Edit/Designer -
            BM</span
          ></span
        ></b
      >
    </p>
  </div>


  <hr>

  <div class="posts mt-5">
    <h2 class=""> Últimas notícias: </h2>
    <app-posts [noticias]="noticias"></app-posts>

  </div>

</app-latest>
