

<div class="wrapper">

  <section class="loop col-content">
    <header style="font-family: 'Sabado' !important;" *ngIf="!titulo && show" class="heading max">
      <h2 style="font-family: 'Sabado' !important;"  class="title title--small title--section">
        Noticias
        <span style="font-family: 'Sabado' !important;"  class="title__color">Recentes</span>
      </h2>
    </header>

    <header *ngIf="titulo && show" class="heading max">
      <h2 class="title title--small title--section">
        {{titulo}}
      </h2>
    </header>

   <ng-content>

   </ng-content>
  </section>
  <aside class="sidebar col-sidebar" role="complementary">
    <div id="lt_social_widget-5" class="widget widget--social">
      <h4 class="title title--smaller title--upper tag-latest">
       Acompanhe a SEGUE O FLUXO!
      </h4>
      <ul style="display: flex;" class="widget__social">
        <li>
          <a
            class=""
            href="https://www.facebook.com/segueofluxooriginal"
            target="_blank"
            rel="noopener"
            ><img
              class="icon"
              src="../../assets/F.png"
              alt="Facebook"
          /></a>
        </li>
        <li>
          <a
            class=""
            href="https://www.instagram.com/segueofluxooriginal/"
            target="_blank"
            rel="noopener"
            ><img
              class="icon"
              src="../../assets/I.png"
              alt="Instagram"
          /></a>
        </li>
        <li>
          <a
            class=""
            href="https://twitter.com/segueofluxonews"
            target="_blank"
            rel="noopener"
            ><img
              class="icon"
              src="../../assets/T.png"
              alt="Twitter"
          /></a>
        </li>
        <li>
          <a
            class=""
            href="https://www.youtube.com/c/tranemusica/"
            target="_blank"
            rel="noopener"
            ><img
              class="icon"
              src="../../assets/Y.png"
              alt="Twitter"
          /></a>
        </li>
      </ul>
    </div>

    <iframe style="margin-top: 40px" src="https://open.spotify.com/embed/playlist/0TNsKRkilGp0VQHQY5Z8C1" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    <div id="custom_html-3" class="widget_text widget widget_custom_html">
      <div class="textwidget custom-html-widget">
       <!-- Anuncio fica aqui -->
      </div>
    </div>
    <div id="lt_featured_posts_widget-5" class="widget widget--posts">
      <h4 class="title title--smaller title--upper tag-latest">Mais acessadas</h4>
      <ul class="widget__posts">
        <li *ngIf="alta[0]"  [ngStyle]="{'background-image':'url(' + alta[0].featuredImgUrl + ')'}"
          class="widget__posts__item"
        >
          <div class="widget__posts__item__description">
            <a class="title-cat" [routerLink]="['/categoria/'+alta[0].category]" href=""
              >{{alta[0].category}}</a
            >
            <a
              class="widget__posts__item__title"
              [routerLink]="['/publicacao/'+alta[0].idTitle]"
              >{{alta[0].title}}</a
            >
          </div>
        </li>
        <li class="widget__posts__item"   *ngFor="let noticia of alta; let i = index">
          <a *ngIf="i >= 1"
            [routerLink]="['/publicacao/'+noticia.idTitle]"
            class="widget__posts__item__title"
            href=""
            >{{noticia.title}}</a
          >
        </li>
      </ul>
    </div>
  </aside>
</div>
