<div class="divider-text container" *ngIf="show">
  <div *ngIf="!titulo" class="text-noticia" style="text-align: left;font-weight:bold"> NOTÍCIAS <p style="display: inline; color: #1647b5 ">RECENTES</p>  </div>
  <div *ngIf="titulo" class="text-noticia" style="text-align: left;font-weight:bold"> {{titulo}} </div>
</div>


<div style="justify-content: left" class="container">
  <div class="row">
    <div  class="col-9">
     <ng-content>

     </ng-content>
    </div>
    <div class="col destaques">
      <div class="row">
        <p class="siga-p">SIGA NOSSAS REDES SOCIAIS</p>
        <div class="redes row">


          <div class="col rede"><img src="../../assets/facebook.png"></div>
          <div class="col rede"><img src="../../assets/instagram.png"></div>
          <div class="col rede"><img src="../../assets/twitter.png"></div>
          <div class="col rede"><img src="../../assets/youtube.png"></div>
        </div>

      </div>
      <div *ngIf="alta[0]" class="row">
        <p class="siga-p mt-4">EM ALTA</p>
        <div class="em-alta row">
          <div [routerLink]="['/publicacao/'+alta[0].idTitle]" [ngStyle]="{'background-image':'url(' + alta[0].featuredImgUrl + ')'}" class="col img-alta padding-texto-alta">
            <div class="textos-destaque">
              <div [routerLink]="['/categoria/'+alta[0].category]" class="categoria ml-2">
                <p >{{alta[0].category}}</p>
              </div>
              <div class="titulo-alta">
               {{alta[0].title}}
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="titulos-alta"  >
        <div class="row" *ngFor="let noticia of alta; let i = index">
          <div class="row" [routerLink]="['/publicacao/'+noticia.idTitle]" *ngIf="i >= 1">
            <p>
              {{noticia.title}}
            </p>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
