.text-noticia{
    font-size: 22px;
    margin-top: 50px;
    border-bottom: 2px solid #1647b5;

}
.divider-text{
text-align: left;
width: 300px;
margin-left: 250px;
padding-bottom: 10px;
}

.sub-titulo{
    font-size: 1.25rem;
    padding-left: 0;
    line-height: 1.75rem;
    color: #555;
}

.topo-categoria{
    font-weight: bold;
}
.container{

    margin-top: 10px;
}
.imagem-noticia{
    width: 760px !important;
    height: 425px;

    background: black;
}
.col-9{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-8{
  padding-left: 0px !important;
  padding-right: 0 !important;
}

.padding-texto{
  padding-left: 20px !important;
}

.col-4{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.categoria {
  background: #f1f1f1;
  color: #010101;
  margin-left: 15px;
  display: inline-block;
  font-family: "poppinssemibold";
  letter-spacing: 0.5px;
  padding: 3px 7.5px 1px;
  text-transform: uppercase;
  font-size: 0.66667rem;
  line-height: 1.06667rem;
}

.padding-texto-alta{
  position: absolute;
  bottom: 19px;
}

.textos-destaque{
  position: absolute;
  bottom: 18px;
  width: 267px;
  left: 0;
}

.categoria p{
   padding: 0 !important;
   margin-bottom: 0 !important;
}
.categoria:hover{
  background:#010101;
  color:  #f1f1f1;
}

.titulo-publi h1{
    width: 760px;
    font-weight: bold;
}
.titulo{
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: bold;
}
.siga-p{
  font-weight: bold;
}
.rede img{
  width: 40px !important;
}

.manter-topo{
  position: absolute !important;
  right: 150px !important;
}
 
.destaques row{
  width: 300px;
}
.img-alta{
  background: black;
  width: 300px;
  height: 220px;
  position: absolute;
  left: -3px;
  top: 149px;
}

.titulo-alta{
  color: white !important;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.8rem;
  padding-left: 12px;
}

.titulos-alta{
  margin-top: 280px;
  width: 230px;
  padding-left: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 1200px){

  .padding-texto{
    padding-left: 92px !important;
  }
}
