<div class="divider-text">
    <p  class="categoria topo-categoria " style="text-align: left; font-size: 15px !important">NOTÍCIAS RECENTES</p>
  </div>
  
  
  <div style="justify-content: left" class="container">
    <div class="row">
      <div class="row mt-2 col-9">
        
        <div class="titulo-publi">
            <h1>{{publicacao.titulo}}</h1>

            <div class="sub-titulo">
                <p class="sub-titulo">{{publicacao.titulo}}
                </p>
              </div>
            <p class="pt-4"><b>Por Segue o Fluxo</b></p>
            <p>{{publicacao.data}}</p>
             </div>
        <div class="">
          <div class="imagem-noticia"></div>
          <div [innerHTML]="publicacao.texto" class="conteudo">
            
        </div>
        </div>
          
      </div>
      <div class="col-3 destaques manter-topo">
        <div class="row">
          <p class="siga-p">SIGA NOSSAS REDES SOCIAIS</p>
          <div class="redes row">
  
  
            <div class="col rede"><img src="../../assets/facebook.png"></div>
            <div class="col rede"><img src="../../assets/instagram.png"></div>
            <div class="col rede"><img src="../../assets/twitter.png"></div>
            <div class="col rede"><img src="../../assets/youtube.png"></div>
          </div>
  
        </div>
        <div class="row">
          <p class="siga-p mt-4">EM ALTA</p>
          <div class="em-alta row">
            <div class="col img-alta padding-texto-alta">
              <div class="textos-destaque">
                <div class="categoria">
                  <p>TESTE</p>
                </div>
                <div class="titulo-alta">
                  Mãe do Juice WRLD faz desabafo sobre morte do rapper: “meu maior medo era ele tivesse uma overdose”
                </div>
              </div>
              
            </div>
          </div>
  
        </div>
  
        <div class="titulos-alta"  >
          <div class="row" >
            <div class="row">
              <p>
                Recayd Mob apresenta novo som “Desce Novinha” com MC Rick pela 1ª vez em live; CONFIRA NA ÍNTEGRA
              </p>
  
            </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>