<form [formGroup]="form">
  <label for="title">Insira o titulo da publicação que deseja apagar</label>
  <input type="text" name="title" formControlName="title" />
</form>
<button (click)="buscarPublicacao()">Buscar</button>

<div class="exibir-publi row" *ngFor="let item of publicacao">
  <div class="publicacao row" >
    <div class="col">
      <img height="30" style="height: 100px;" [src]="item.featuredImgUrl" />
    </div>
    <div class="col">
      <p><b>Titulo:</b> {{item.title}}</p>
      <p><b>Titulo id:</b> {{item.idTitle}}</p>
      <p><b>Views:</b> {{item.views}}</p>
      <p><b>Data:</b> {{item.published}}</p>
    </div>
    <div class="col">
      <button (click)="deletarPost(item._id)" style="background-color: #b51616 !important;">Deletar</button>
    </div>
  </div>
  <hr style="border: solid 1px black;">
</div>
