
::ng-deep .ngx-pagination{
  font-weight: bold !important;
}

::ng-deep .ngx-pagination .current{
  background: #1e4fbd !important;
  border-radius: 50% !important;
}


@media only screen and (max-width: 730px){
  main{padding-top: 55px !important;}
}
