.imagem-noticia{
  width: 290px;
  height: 180px;
  background-position: center;
  background-size: 35vh !important;
  background-repeat: no-repeat;
  background: black;
  -webkit-transition: background-size 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-size 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.padding-texto{
  padding-left: 20px !important;
}
.categoria p{
  padding: 0 !important;
  margin-bottom: 0 !important;
}
.categoria:hover{
 background:#010101;
 color:  #f1f1f1;
}
.categoria {
  background: #f1f1f1;
  color: #010101;
  display: inline-block;
  font-family: "poppinssemibold";
  letter-spacing: 0.5px;
  padding: 3px 7.5px 1px;
  text-transform: uppercase;
  font-size: 0.66667rem;
  line-height: 1.06667rem;
}

::ng-deep .ngx-pagination{
  max-width: 440px !important;
  margin: auto !important;

}

.titulo{
  font-size: 2rem;
  line-height: 2.4rem;
  max-width: 455px !important;
  font-weight: bold;
  min-width: 390px !important;
}
