

<div *ngIf="noticias" >
<article  *ngFor="let noticia of noticias" class="loop__item" role="article">
  <div class="loop__item__thumb">
    <a href="" [routerLink]="['/publicacao/'+noticia.idTitle]">
      <img
        class="thumb"
        [alt]="noticia.title"
        [src]="noticia.featuredImgUrl"
        width="290"
        height="180"
    /></a>
  </div>
  <div class="loop__item__description">
    <a class="title-cat" href="" [routerLink]="['/categoria/'+noticia.category]">{{ noticia.category }}</a>
    <h2 class="title title--medium">
      <a href="" [routerLink]="['/publicacao/'+noticia.idTitle]"
        > {{ noticia.title}}</a
      >
    </h2>
    <span class="byline">
      <span class="byline__item"
        ><img
          class="icon"
          src="images/icons-time.svg"
          alt=""
        />19/01/2021</span
      ></span
    >
  </div>
</article>

<ul>
  <li style="display: none;" *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">{{ item }}</li>
</ul>
<hr>
<pagination-controls maxSize="10" style="margin: auto;" previousLabel="Anterior" nextLabel="Próximo" (pageChange)="pageChanged($event)"></pagination-controls>
<hr style="margin-bottom: 100px">
